
[access]
	inheritFrom = Platform-Unrestricted-Projects
[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group approvers-platform-system-bt
	label-Verified = -1..+1 group CLA - Sony Contributors
	label-Verified = -1..+1 group approvers-platform-system-bt
	submit = group approvers-platform-system-bt
	label-Autosubmit = +0..+1 group CLA - Sony Contributors
	label-Presubmit-Verified = -1..+1 group CLA - Sony Contributors
